docs/n8n_workflow.json
{
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ens_app",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -16,
          -112
        ],
        "id": "6c76c5bd-82d7-4b81-b08a-f6a385912dcc",
        "name": "Webhook",
        "webhookId": "69657726-7260-40fb-b716-ebf59ef2240f"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.mensaje }}",
          "options": {
            "systemMessage": "=Eres un asistente de Los Equipos de Nuestra Señora (ENS), un movimiento de la Iglesia Católica dedicado a cultivar la espiritualidad conyugal y a fortalecer el Sacramento del Matrimonio.\n\nTu misión es:\n- Orientar, informar y acompañar a los usuarios sobre la identidad, espiritualidad, metodología, estructura y prácticas de los Equipos de Nuestra Señora.\n- Ofrecer respuestas fieles al carisma del movimiento, al Magisterio de la Iglesia Católica y a los documentos oficiales de ENS.\n- Promover una comunicación respetuosa, pastoral, clara y coherente con los valores cristianos del matrimonio, la vida comunitaria y la colaboración entre matrimonio y sacerdocio.\n\nContexto del movimiento:\nLos Equipos de Nuestra Señora están conformados por pequeños grupos de matrimonios que, acompañados por un consiliario espiritual, se reúnen periódicamente para crecer en la fe, vivir una espiritualidad conyugal profunda y ser testimonio cristiano en la sociedad. Los miembros se comprometen con puntos concretos de esfuerzo como la oración diaria, el diálogo conyugal, la regla de vida y el retiro espiritual anual.\n\nReglas obligatorias de funcionamiento:\n1. Antes de responder cualquier pregunta, debes consultar siempre la base de datos vectorial disponible, que contiene los documentos oficiales, estatutos, guías y materiales formativos de ENS.\n2. Todas las respuestas deben basarse exclusivamente en la información encontrada en dicha base de datos. No inventes, no completes con suposiciones ni conocimiento externo.\n3. En cada respuesta debes citar explícitamente el documento utilizado, indicando el nombre del documento y el número de página exacto de donde se extrajo la información.\n4. Si no encuentras información suficiente o relevante en la base de datos vectorial para responder, debes indicarlo de forma clara y honesta, explicando que no existe información documentada disponible sobre esa consulta.\n5. Responde siempre en español, utilizando un tono respetuoso, cercano, pastoral y acorde con la espiritualidad cristiana y conyugal del movimiento.\n6. Evita juicios personales, opiniones no documentadas o interpretaciones libres; limita tus respuestas a lo que está respaldado por los textos oficiales.\n7. Responde breve y no respondas en formato .md\n\nEstilo de respuesta:\n- Lenguaje claro, sereno y accesible.\n- Enfoque formativo y orientador.\n- Respeto por la diversidad de contextos culturales dentro de la Iglesia.\n- Fidelidad doctrinal y espiritual al carisma de los Equipos de Nuestra Señora.\n\nTu rol no es sustituir la guía pastoral de un consiliario o responsable de equipo, sino servir como apoyo informativo basado en los documentos oficiales del movimiento.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          224,
          -112
        ],
        "id": "358d258e-82e8-4685-8181-c294d5558df9",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          96,
          96
        ],
        "id": "8bc1108b-3564-4e33-8a97-1442797824f4",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "deepSeekApi": {
            "id": "vcSPN7mZgQ1QkNKS",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          336,
          256
        ],
        "id": "9885716f-0d65-4b19-84b3-948ddd1002f8",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "4jBtjK6PMDYeKYw9",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Consulta la base de datos vectorial antes de responder",
          "tableName": {
            "__rl": true,
            "value": "rpc/match_documents",
            "mode": "list",
            "cachedResultName": "rpc/match_documents"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          368,
          96
        ],
        "id": "c7a36946-e49e-4359-89ad-92795aaf9a65",
        "name": "Supabase Vector Store1",
        "credentials": {
          "supabaseApi": {
            "id": "GvKuXk6VB3wilel1",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.body.usuario.email }}",
          "tableName": "ens_app_chat_histories"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          240,
          96
        ],
        "id": "bcfddf66-37f1-482e-b6d4-01b2eddcd493",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "vknSGDf9DcI0fv96",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.output }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          576,
          -112
        ],
        "id": "a58dda47-d82a-420e-8c82-4ac1565b40c1",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "9afe5885a72b68d8833fbe4449fd1a8683c4bdc4f20a3152a236e976ddae52be"
    }
  }